{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   block_markoff
    @copyright 2020 Veronica Bermegui, Michael Vangelovski
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template block_markoff/content

    Markoff block content template.
}}

<div class="block_markoff-root" data-region="block_markoff-instance-{{instanceid}}">
  <div class="overlay"></div>
  <div class="survey" data-region="block_markoff-instance-{{instanceid}}">
    <div class="question" data-id="1" data-title="{{questiontitle}}">
        	<h5 class="title">{{{questiontitle}}}</h5>
    	<div class="answer">
    	  {{{questionbody}}}
    	</div>

        <div class="spinner"><div class="circle spin"></div></div>

        <div class="details">
            <a href="#" class="btn btn-secondary survey-exit survey-control" hidden>Opt out for today</a>
            <a href="#" class="survey-why" data-toggle="tooltip" data-placement="top"  data-original-title="{{reason}}">Why are we asking this?</i></a>
        </div>

    </div>
   </div>
</div>
{{#js}}
require(['jquery','theme_boost/tooltip'], function($){$('[data-toggle="tooltip"]').tooltip()});
{{/js}}

